<div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
    <div fxFlex="50%" style="margin-right: 1em;">
        <mat-card>
            <b><span class="welcome-message">Welcome Ujjwal!!</span></b>
            <div class="info">
                <label for="name">Name:</label><span id="name">Ujjwal</span>
            </div>
            <div class="info">
                <label for="sapId">SAP ID:</label><span id="sapId">500108694</span>
            </div>
            <div class="info">
                <label for="batch">Batch:</label><span id="batch">Full Stack AI(B1-Honors)</span>
            </div>
        </mat-card>
    </div>
    <div fxFlex="50%">
        <mat-card>
            <b><span class="welcome-message">Welcome Anuj!!</span></b>
            <div class="info">
                <label for="name">Name:</label><span id="name">Anuj</span>
            </div>
            <div class="info">
                <label for="sapId">SAP ID:</label><span id="sapId">500107186</span>
            </div>
            <div class="info">
                <label for="batch">Batch:</label><span id="batch">Full Stack AI(B1-Honors)</span>
            </div>
        </mat-card>
    </div>
</div>