mat-card {
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info {
    margin-bottom: 0.5rem;
}

.info label {
    display: inline-block;
    width: 80px;
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
}

.info span {
    font-size: 1rem;
}

.welcome-message {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
